/* ---- modulos  ---- */
.wrapper-modulo {
  position: relative;
  clear: both;
  display: block;
}

.body-modulo {
  padding: 40px 0 20px;
  min-height: 350px;
}

.footer-modulo {
  border-top: 1px solid $negro;
  background-color: transparent;
}

.titulo-modulo {
  font-size: 150%;
  line-height: 150%;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid $gris;
  @media (min-width: $md) {
    font-size: 250%;
    line-height: 200%;
    
  }
}

.load-ajax {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: url(../images/loader-ajax.gif) no-repeat center;
  background-size: 20%;
  right: 0;
  top: 0;
}

.popup-url-input {
  width: 40px;
  display: inline-block;
  vertical-align: top;
}

.popup-url-label {
  font-size: 120%;
  line-height: 120%;
  text-transform: uppercase;
  margin: 10px 10px 10px 0px!important;
  display: inline-block;
}

.img-wrapper {
    padding: 10px;
    border: 1px solid $color-footer;
    margin: 10px 0px;
}

.sliders-wrapper {
  li {
    border-bottom: 1px solid $gris;

    &:last-child {
      border-bottom: none;
    }
  }
}